<%- layout('layouts/main') %>

<div id="c" class="container-fluid">
    <div id="w" class="row">
        <div id="q" class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                  <a class="navbar-brand" href="#">GasolineraWeb Los DosBros</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Mi ubicacion</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Acerca de nosotros</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </div><br><br>
    <div id="b" class="row">
        <div id="a"  class="col">
            <div class="card" id="map-template"></div>
        </div>
</div><br><br>
<div id="r" class="row">
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://media.metrolatam.com/2019/08/10/gasolinera-84e3ba791f910146f07c288d486bc740-1200x800.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Pemex</a>
            </h4>
            <h5>$24.99</h5>
            <p class="card-text">Exelente calidad, ademas de muy buen servicio. Abierto las 24 horas. ESTA CERCA DE TI.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://media.metrolatam.com/2019/08/10/gasolinera-84e3ba791f910146f07c288d486bc740-1200x800.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Pemex</a>
            </h4>
            <h5>$24.99</h5>
            <p class="card-text">Exelente calidad, ademas de muy buen servicio. Abierto las 24 horas. ESTA CERCA DE TI.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://media.metrolatam.com/2019/08/10/gasolinera-84e3ba791f910146f07c288d486bc740-1200x800.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Pemex</a>
            </h4>
            <h5>$24.99</h5>
            <p class="card-text">Exelente calidad, ademas de muy buen servicio. Abierto las 24 horas. ESTA CERCA DE TI.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
</div>
</div>